[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"

[dev-packages]
testcontainers = {extras = ["mssql"], version = "*"}
alembic = "*"
ruff = "*"
setuptools = ">=61.0"
wheel = ">=0.37.1"
review-app = {file = ".", editable = true}

[requires]
python_version = "3.12"

[prod]
review-app = {file = ".", editable = false}
